 <% if @customer.errors.any? %>
  <%= @customer.errors.count %>件のエラーが発生しました
  <ul>
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <div class="row">
    <div class="col-auto mt-5" style="background-color: darkgray;">
     <h5>会員情報編集</h5>
    </div>
  </div>

<%= form_with model: @customer, url: customers_information_path do |f| %>

  <div class="row justify-content-start mt-3">
   <div class="col-3 ml-4">
    <p>氏名</p>
   </div>

   <div class="col-3">
    <%= f.text_field :last_name %>
   </div>

   <div class="col-1"></div>
   <div class="col-3">
    <%= f.text_field :first_name %>
   </div>
  </div>

  <div class="row justify-content-start mt-3">
   <div class="col-3 ml-4">
    <p>フリガナ</p>
   </div>

   <div class="col-3">
    <%= f.text_field :last_name_kana %>
   </div>

   <div class="col-1"></div>
   <div class="col-3">
    <%= f.text_field :first_name_kana %>
   </div>
  </div>

  <div class="row justify-content-start mt-3">
    <div class="col-3 ml-4">
     <p>メールアドレス</p>
    </div>
    <div class="col-6">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>


  <div class="row justify-content-start mt-3">
   <div class="col-3 ml-4">
    <p>郵便番号（ハイフンなし）</p>
   </div>
   <div class="col-6">
    <%= f.text_field :postal_code %>
   </div>
  </div>

  <div class="row justify-content-start mt-3">
   <div class="col-3 ml-4">
    <p>住所</p>
   </div>
   <div class="col-6">
    <%= f.text_area :address, size: "65x1" %>
   </div>
  </div>

  <div class="row justify-content-start mt-3">
   <div class="col-3 ml-4">
    <p>電話番号</p>
   </div>
   <div class="col-6">
    <%= f.text_field :telephone_number %>
   </div>
  </div>

  <div class="row justify-content-start mt-3">
   <div class="col-3 ml-4"></div>
   <div class="d-grid gap-2 col-3">

    <%= f.submit "編集内容を保存", class: "btn btn-info px-5" %>

    <!--btn btn-success px-5-->
<% end %>

   </div>
   <div class="col-1 ml-4"></div>
   <div class="d-grid gap-2 col-3">

     <%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-danger px-5" %>

   </div>

  </div>