 <div>
   <%= flash[:notice] %>
 </div>

  <div class="row">
    <div class="col-auto mt-5" style="background-color: darkgray;">
     <h5>マイページ</h5>
    </div>
  </div>

  <h3>登録情報</h3>
  　 <%= link_to "編集する", customers_information_edit_path, class: "btn btn-success px-5" %>

  <table class="table table-bordered mt-3">
    <tbody>
      <tr>
       <th style="width:30%">氏名</th>
       <td>
         <%= current_customer.last_name %>
         <%= current_customer.first_name %>
       </td>
      </tr>
      <tr>
       <th style="width:30%">カナ</th>
       <td>
         <%= current_customer.last_name_kana %>
         <%= current_customer.first_name_kana %>
       </td>
      </tr>
      <tr>
       <th style="width:30%">郵便番号</th>
       <td>
         <%= current_customer.postal_code %>
       </td>
      </tr>
      <tr>
       <th style="width:30%">住所</th>
       <td>
         <%= current_customer.address %>
       </td>
      </tr>
      <tr>
       <th style="width:30%">電話番号</th>
       <td>
         <%= current_customer.telephone_number %>
       </td>
      </tr>
      <tr>
       <th style="width:30%">メールアドレス</th>
       <td>
         <%= current_customer.email %>
       </td>
      </tr>
    </tbody>
  </table>


    <%= link_to "一覧をみる", orders_path, class: "btn btn-primary px-5" %>

