 <div>
   <%= flash[:notice] %>
 </div>

 <div class="row justify-content-md-center my-5">
   <div class="information Image">
     <div class="clearfix">
        <img src"..." class="col-md-6 float-md-center" alt="...">

    </div>
    <div class="col col-md-auto">
       <p>ようこそ、ながのCAKEへ！<br>
         このサイトは、ケーキ販売のECサイトになります。<br>
         会員でない方も商品の閲覧はできますが、<br>
         購入には会員登録が必要になります。<br>
      </p>
    </div>
  </div>
 </div>


 <h4>新着商品</h4>
 <br>
 <div class="d-flex flex-wrap">
  <div class="row">

  <% @items.each do |item| %>
    <div class="col-3">
      <% if item.image.present? %>
       <%= image_tag item.image, size: "200x150" %>
      <% else %>
       <%= image_tag "no_image.jpg", size: "200x150" %>
      <% end %>
      <br>
      <%= item.name %>
      <br>
      ¥<%= (item.price*1.1).floor %>
      <br>
    </div>
     <% end %>
  </div>
</div>
   <div class="row justify-content-end">
     <div class="col-auto">
       <%= link_to "全ての商品を見る >", items_path %>
     </div>
   </div>
