<div class="row">
  注文情報確認
</div>
<%= form_with model:@order do |f| %>
<div class="row">
  <div class="col-7">
   <table class="table">
    <!--情報テーブル-->
    <thead>
     <tr>
      <th scope="col">商品名</th>
      <th scope="col">単価（税込）</th>
      <th scope="col">数量</th>
      <th scope="col">小計</th>
     </tr>
    </thead>
    <tbody>
       <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= image_tag cart_item.item.get_image, size: "50x75" %>
            <%= cart_item.item.name %></td>
        <td class="align-middle"><%= cart_item.item.number_to_currency %></td>
        <td class="align-middle"><%= cart_item.amount %></td>
        <td class="align-middle"><%= cart_item.subtotal_k %></td>
         <% @total += cart_item.subtotal %>
       <% end %>
      </tr>
    </tbody>
   </table>
  </div>

  <div class="col-4">
   <table class="table">
     <!--合計金額テーブル-->
    <tbody>
     <tr>
      <td>送料</td>
      <td><%= @shipping_cost.to_s %>
      <%= f.hidden_field :shipping_cost, :value => @shipping_cost.to_i %>
      </td>
     </tr>
     <tr>
      <td>商品合計</td>
      <td><%= @total.round.to_s(:delimited) %>円</td>

     </tr>
     <tr>
      <td>請求金額</td>
      <td><%= (@total.round + 800).to_s(:delimited)%>円
      <%= f.hidden_field :total_payment, :value => (@total.round + 800).to_i %>
      </td>
     </tr>
    </tbody>
   </table>
  </div>
</div>

<div class="row mt-3">
 <div class="col-2">支払方法</div>
 <div class="col-auto">
  <!--オーダー情報-->
  <%= @order.payment_method_i18n %>

 </div>
</div>
<div class="row mt-3">
 <div class="col-2">お届け先</div>
 <div class="col-auto">

   <%#= f.hidden_field :name, :value => current_customer.name %>
   <%= f.hidden_field :address, :value => current_customer.address %>
   <%= f.hidden_field :postal_code, :value => current_customer.postal_code %>
   <%= @order.address_display %>
   <%= f.hidden_field :address, :value => current_customer.address %>
   <br>
   <%= @order.name %>
 </div>
</div>
<%= f.submit '注文を確定する', class: 'btn btn-success px-5' %>



<% end %>