  <div class="row">
    <div class="col-auto mt-5" style="background-color: darkgray;">
     <h5>注文情報入力</h5>
    </div>
  </div>

<div class="row">
  <h5>支払い方法</h5>
</div>
  <div class="col-auto">
     <%= form_with model:@order, method: :patch do |f| %>
      <%= f.radio_button :payment_methods, :credit_card %>
      <%= f.label :payment_methods, "クレジットカード", {value: :credit_card} %>
      <br>
      <%= f.radio_button :payment_methods, :transfer %>
      <%= f.label :payment_methods_i18n, "銀行振込", {value: :transfer} %>
     <% end %>
  </div>
<h5>お届け先</h5>
<div class="row">
  <p>
  <%= current_customer.address %>
  </p>

</div>


