  <div>
   <%= flash[:notice] %>
 </div>

  <div class="row">
    <div class="col-auto mt-5" style="background-color: darkgray;">
     <h5>ログイン</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-5 ml-2" style="background-color: darkgray;">
     <p>会員の方はこちらからログイン</p>
    </div>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row justify-content-center mt-3">
   <div class="col-3 ml-4">
    <p>メールアドレス</p>
   </div>
   <div class="col-6">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "50x1" %>
   </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-3 ml-4">
     <p>パスワード</p>
    </div>
    <div class="col-6">
      <%= f.password_field :password, autocomplete: "current-password", size: "50x1" %>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-3 ml-4"></div>
    <div class="d-grid gap-2 col-6">
     <%= f.submit "ログイン", class: 'btn btn-primary px-5' %>
    </div>
  </div>
    <% end %>

<br>
   <div class="row">
    <div class="col-auto mt-5 ml-2" style="background-color: darkgray;">
     <p>会員登録がお済みでない方</p>
    </div>
   </div>
   <div class="row justify-content-center mt-3">
     <div class="col-8 ml-4">
       <%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。
     </div>
   </div>

