  <div class="row my-5">
    <div class="col-auto mt-5">
     <h5>商品一覧</h5>
     <p>全<%= @itemcount %>件</p>
    </div>
  </div>

<div class="d-flex flex-wrap">
  <div class="row">

  <% @items.each do |item| %>
    <div class="col-3">
      <% if item.image.present? %>
       <%= link_to item_path(item.id) do %>
       <%= image_tag item.image, size: "200x150" %>
       <% end %>
      <% else %>
       <%= link_to item_path(item.id) do %>
       <%= image_tag "no_image.jpg", size: "200x150" %>
       <% end %>
      <% end %>
      <br>
      <%= link_to item.name, item_path(item.id) %>
      <br>
      ¥<%= item.number_to_currency %>
      <br>
    </div>
     <% end %>
  </div>
</div>

  <div class="row justify-content-md-center my-5">
    <div class="col col-md-auto">
     <%= paginate @items, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>


