  <div class="row my-5">
    <div class="col-auto mt-5">
     <h5>商品一覧</h5>
     <p>全<%= @itemcount %>件</p>
    </div>
  </div>

<div class="d-flex flex-wrap">

  <% @items.each do |item| %>
    <div class="flex-item ml-5 mb-5">
      <% if item.image.present? %>
       <%= image_tag item.image, size: "200x150" %>
      <% else %>
       <%= image_tag "no_image.jpg", size: "200x150" %>
      <% end %>
      <br>
      <%= item.name %>
      <br>
      ¥<%= (item.price*1.1).floor %>
      <br>
    </div>
     <% end %>


</div>


