


<div class="row justify-content-center mt-5">
  <div class="col-4">
  <% if @item.image.present? %>
   <%= image_tag @item.image, size: "300x200" %>
  <% else %>
   <%= image_tag "no_image.jpg" %>
  <% end %>
 </div>

 <div class="col-6">
  <div class="row">
    <h4>
      <%= @item.name %>
    </h4>
  </div>
  <div class="row">
   <p>
    <%= @item.introduction %>
   </p>
  </div>
  <br>
  <div class="row">
    <h5>
     ¥<%= @item.number_to_currency %>(税込)
    </h5>
  </div>
  <div class="row">
     <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
     <%= f.hidden_field :item_id, :value => @item.id %>
     <%= f.select :amount, *[1..20] %>
     <%= f.submit 'カートに入れる', class: 'btn btn-success px-5' %>
     <% end %>
  </div>


  </div>
</div>
