<div class="row justify-content-center mt-2">
 <div class="col-3">
  <table class="table">
   <thead>
    <tr>
      <th scope="col">ジャンル検索</th>
    </tr>
   </thead>
   <tbody>
    <tr>
      <th scope="row">ケーキ</th>
    </tr>
    <tr>
      <th scope="row">焼き菓子</th>
    </tr>
    <tr>
      <th scope="row">プリン</th>
    </tr>
    <tr>
      <th scope="row">キャンディ</th>
    </tr>
   </tbody>
  </table>
 </div>

 <div class="col-4">
  <% if @item.image.present? %>
   <%= image_tag @item.image, size: "300x200" %>
  <% else %>
   <%= image_tag "no_image.jpg" %>
  <% end %>
 </div>

 <div class="col-5">
  <div class="row">
    <h4>
      <%= @item.name %>
    </h4>
  </div>
  <div class="row">
   <p>
    <%= @item.introduction %>
   </p>
  </div>
  <br>
  <div class="row">
    <h5>¥
     <%= (@item.price * 1.1).floor %>(税込)
    </h5>
  </div>
 </div>
</div>