<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>

  <!--ログイン後のヘッダー-->
    <!--<if customer_siged_in?>-->
     <!--<li class="nav-list-item">-->
      <%#= link_to "マイページ", public_homes_path %>
      <!--</li>-->
     <!--<li class="nav-list-item">-->
      <%#= link_to "商品一覧", public_items_path %>
      <!--</li>-->
     <!--<li class="nav-list-item">-->
      <%#= link_to "カート", new_customer_registration_path %>
      <!--</li>-->
      <!--<li class="nav-list-item">-->
      <%#= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      <!--</li>-->

  <!--ログイン前のヘッダー  -->
    <%# else %>
      <li class="nav-list-item">
       <%= link_to "About", homes_about_path %>
      </li>
      <li class="nav-list-item">
       <%= link_to "商品一覧", public_items_path %>
      </li>
      <li class="nav-list-item">
       <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li class="nav-list-item">
       <%= link_to "ログイン", customer_session_path %>
      </li>

  </header>







  <body>
    <%= yield %>
  </body>

  <footer>
     <li class="nav-list-item">
       <%= link_to "管理者用", admin_session_path %>
     </li>

  </footer>



</html>
